<div class="dialog-content">
    <h1 mat-dialog-title>Instructions</h1>
    <div mat-dialog-content>
        <p>Please read the following instructions carefully before starting the
            quiz:</p>
        <ul>
            <li>Each question must be answered within 1 minute.</li>
            <li>You cannot change your answer once it is submitted.</li>
            <li>The quiz will automatically submit when the timer runs out.</li>
        </ul>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onUnderstandClick()" class="btn">I Understand</button>
    </div>
</div>