/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.bg{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 20px;
}

.btn{
    background: #9570e3;
    color: #fff;
    transition: background 0.5s ease-in;
}
.btn:hover{
    background: #7356b0;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
